.container{
    margin-top : 15px ; 
    display: flex;
    flex-wrap : wrap  ; 
    gap : 17px ;
    
}
.container button {
    height : 50px ; 
    width : 55px ; 
    font-size: 16px;
    font-weight : bold ; 
    cursor : pointer ; 
    border-radius: 6px;
}