.Product{
  border : 2px solid black ; 
  margin : 5px;
  padding : 5px; 
  border-radius: 15px ;
  background-color: rgba(0, 0, 0, 0.758);
  color : white ; 
  font-size : 20px  ; 
  font-weight : 550 ; 
  display : flex ; 
  justify-content: center;
  align-items: center;
  flex-direction: column ; 
  width : 30vw ; 

}